twilio
yagmail
lxml
dash
numpy
scipy
plotly
pandas
requests
selenium
gunicorn
packaging
whitenoise
apscheduler
google-cloud
dash-iconify
beautifulsoup4
chromedriver_py
webdriver-manager
google-cloud-storage
undetected-chromedriver
dash-mantine-components
dash-bootstrap-components